body{
    text-align: center;
   background-color:rgb(239, 164, 207);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.outer{
    border: 2px solid black;
    height: 50vh;
    width: 50vh;
    display: flex;
    margin: 1vh 39vw;
    /* justify-content: center; */
    /* flex-direction: row; */
    flex-wrap: wrap;
    padding: 0px;
    border-color:rgb(239, 164, 207);



}
.inner{
     border: 5px solid black;
     height: 28%;
     width: 28%;
     margin: 10% 9%;
     border-radius: 25px;



}
.red{
    background-color: red;
}
.yellow{
    background-color:yellow;
}
.blue{
    background-color: blue;
}
.purple{
    background-color: purple;
}
.flash{
    background-color: white;
}